{% extends "base.html" %}
{% block title %}
    <title>Exam - сообщение</title>
{% endblock %}
{% block seo %}
    <meta name="description" content="Сообщение сервиса Exam">
    <meta name="keywords" content="сообщение, статус, конструктор тестов">
{% endblock %}
{% block head %}
{% endblock %}
{% block header_content %}
    <div class="vertical-align">
        <div class="container">
            <div class="row vertical-align">
                <div class="col-lg-4">
                    <h4>Сообщение</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <p></p>
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-{{ status }}" role="alert">
                <b>{{ message }}</b>
            </div>
        </div>
    </div>
{% endblock %}