{% extends "base.html" %}
{% block header_content %}
    <div class="k-panel vertical-align">
        <div class="container">
            <div class="row vertical-align">
                <div class="col-lg-2">
                    <img class="img-circle"
                         src="{{MEDIA_URL}}{{ user.picture }}"
                         alt="Generic placeholder image" width="140" height="140">
                </div>
                <div class="col-lg-8">
                    <h3>{{ user.get_short_name|default:"Имя не задано" }}</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h5>Мои тесты:</h5>
            <a href="{% url "create_new_test" %}"><input type="button" class="btn btn-default" value="Создать новый тест"></a>
        </div>
        <div class="col-lg-6">
            <h5>Популярные тесты:</h5>
        </div>
    </div>
{% endblock %}