{% extends "base.html" %}
{% block header_content %}
    <div class="k-panel">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  k-margin-top-35">
                    <img class="img-circle"
                         src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         alt="Generic placeholder image" width="140" height="140">
                </div>
                <div class="col-lg-4  k-margin-top-60">
                    <h3>{{ user.get_short_name|default:"Имя не задано" }}</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
{% endblock %}