{% extends "base.html" %}
{% block title %}
    <title>Exam - справка</title>
{% endblock %}
{% block seo %}
    <meta name="description" content="Справка по сервису Exam. Как работать с сервисом.">
    <meta name="keywords" content="Справка, обучение, помощь, с чего начать">
{% endblock %}
{% block head %}
{% endblock %}
{% block header_content %}
    <div class="vertical-align">
        <div class="container">
            <div class="row vertical-align">
                <div class="col-lg-4">
                    <h4>Помочь проекту!</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h4>Хотите поддержать проект? Просто кликните на рекламу <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></h4>
        <hr class="featurette-divider">
        <div class="row">
            <div class="col-lg-12 col-md-12 centered">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- www.exam.moscow -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-3381757163095866"
                     data-ad-slot="9432921928"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <h5>Мы не знаем что тут <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> рекламируется, но за каждый клик по рекламе мы получаем небольшую денюжку от рекламодателя, которая идёт на оплату хостинга и обслуживание сайта. </h5>
        <h5>Спасибо что пользуетесь сервисом Exam и поддерживаете проект! :)</h5>
    </div>
</div>
{% endblock %}