{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block header_content %}
    <div class="k-panel-header vertical-align">
        <div class="container">
            <div class="row vertical-align">
                <div class="col-lg-4">
                    <h4>Результаты теста</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <p></p>
    {% if rating >= 70 %}
    <div class="panel panel-success">
    {% elif rating >= 40 %}
    <div class="panel panel-warning">
    {% else %}
    <div class="panel panel-danger">
    {% endif %}
        <div class="panel-heading">
            <b class="white_color">{{ test_name }}</b>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Пользователь</th>
                <th>Дата</th>
                <th>Время выполнения теста</th>
                <th>Количество вопросов</th>
                <th>Количество правильных ответов</th>
                <th>Оценка (%)</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ user.get_short_name }}</td>
                    <td>{{ date|date:"d.m.Y" }}</td>
                    <td>{{ time_of_test }}</td>
                    <td>{{ number_of_questions }}</td>
                    <td>{{ number_of_correct_answers }}</td>
                    <td>{{ rating }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}