{% extends "base.html" %}
{% block title %}
    <title>Exam - справка</title>
{% endblock %}
{% block seo %}
    <meta name="description" content="Справка по сервису Exam. Как работать с сервисом.">
    <meta name="keywords" content="Справка, обучение, помощь, с чего начать">
{% endblock %}
{% block head %}
{% endblock %}
{% block header_content %}
    <div class="k-panel-header vertical-align">
        <div class="container">
            <div class="row vertical-align">
                <div class="col-lg-4">
                    <h4>Справка</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h4>Как работать с сервисом Exam?</h4>
            <hr>
            <h6>Оглавление</h6>
            <ol>
                <li><a href="#registration">Регистрация</a></li>
                <li><a href="#sign_in">Вход в систему</a></li>
                <li><a href="#create_test">Создание теста</a></li>
                <li><a href="#offline_test">Интерактивная offline версия теста</a></li>
                <li><a href="#journal">Просмотр журнала оценок по тесту</a></li>
                <li><a href="#edit_test">Редактирование теста</a></li>
                <li><a href="#delete_test">Удаление теста</a></li>
            </ol>
            <a name="registration"></a>
            <hr>
            <h5>1. Регистрация</h5>
            <div class="row">
                <div class="col-lg-12">
                    <p>Для того чтобы начать полноценную работу с сервисом Exam, Вам необходимо <b>зарегистрироваться</b>.</p>
                    <p>Выберите в главном меню пункт <b>"Регистрация"</b> и перед Вами откроется окно с формой для создания нового пользователя:</p>
                    <img class="img-thumbnail"
                     src="/static/img/registration.png"
                     alt="Окно регистрации" width="auto" height="auto">
                    <p>Заполните обязательные поля, отмеченные звёздочкой (заполнение не обязательных полей остаётся на Ваше усмотрение), и нажмите кнопку <b>"Зарегистрироваться"</b>. </p>
                    <p>Если всё было заполнено правильно, то Вы увидите окно с сообщением об успешной регистрации:</p>
                    <img class="img-thumbnail"
                     src="/static/img/registration_complete.png"
                     alt="Сообщение об успешной регистрации" width="auto" height="auto">
                </div>
            </div>
            <a name="sign_in"></a>
            <hr>
            <h5>2. Вход в систему</h5>
            <div class="row">
                <div class="col-lg-12">
                    <p>После как Вы <a href="#registration">зарегистрировались</a>, Вам необходимо войти в систему под своим логином (Ваш e-mail адрес) и паролем.</p>
                    <p>Для этого введите свой адрес электронной почты и пароль в соответствующие поля в панели главного меню:</p>
                    <img class="img-thumbnail"
                     src="/static/img/sing_in.png"
                     alt="Вход в систему" width="auto" height="auto">
                    <p>После этого нажмите кнопку <b>"Вход"</b>. Если Вы ввели правильные данные, система Вас успешно авторизирует и перенаправит на страницу Вашего рабочего стола.</p>
                </div>
            </div>
            <a name="create_test"></a>
            <hr>
            <h5>3. Создание теста</h5>
            <div class="row">
                <div class="col-lg-12">
                    <p>После как Вы <a href="#sign_in">вошли в систему</a>, Вы можете полноценно работать с сервисом Exam.</p>
                    <p>Для того чтобы создать свой тест, выберите в главном меню пункт <b>"Конструктор тестов"</b> или перейдите на рабочий стол (пункт <b>"Рабочий стол"</b> в главном меню) и нажмите кнопку <b>"Создать новый тест"</b></p>
                    <p>Перед Вами откроется окно создания нового теста:</p>
                    <img class="img-thumbnail"
                     src="/static/img/create_new_test.png"
                     alt="Создание нового теста" width="auto" height="auto">
                    <p>Разберём подробнее эту форму:</p>
                    <ol>
                        <li><b>"Название теста"</b> - обязательное для заполнения поле. Должно содержать короткое название Вашего теста.</li>
                        <li><b>"Описание"</b> - не обязательное для заполнения поле. Должно содержать подробное описание Вашего теста.</li>
                        <li><b>"Категория"</b> - категория к которой относится тест. (Можно оставить значение по умолчанию)</li>
                        <li>Чекбокс <b>"Сделать тест доступным для незарегистрированных пользователей"</b> - это очень важный параметр! Если поставить галочку, то для прохождения Вашего теста необязательно будет регистрироваться в системе. Это упрощает задачу проведения тестирования большого количества человек. Если галочку убрать, то тест смогут пройти только зарегистрированные пользователи и Вы получите в отчёте более подробную информацию о них.</li>
                    </ol>
                    <p>После того, как Вы заполните все необходимые поля, нажмите кнопку <b>"Далее"</b>.</p>
                    <p>Откроется окно создания вопроса:</p>
                     <img class="img-thumbnail"
                     src="/static/img/create_new_question.png"
                     alt="Создание нового вопроса" width="auto" height="auto">
                    <p>Окно создания вопроса содержит следующие поля:</p>
                    <ol>
                        <li><b>"Вопрос:"</b> - обязательное для заполнения поле. В него Вы должны ввести текст вопроса.</li>
                        <li><b>"Изображение:"</b> - при желании у Вас есть возможность добавить к вопросу изображение, которое будет содержать дополнительную информацию (например математические формулы и т.п.).</li>
                        <li><b>"Тип вопроса:"</b> - Вам доступно 3 различных типа вопроса на выбор:
                            <ul>
                                <li><b>"Содержит один или несколько правильных вариантов ответа"</b> - при ответе на вопрос данного типа у учащегося будет возможность выбрать один или несколько вариантов ответа</li>
                                <li><b>"Содержит только один правильный вариант ответа"</b> - при ответе на вопрос данного типа у учащегося будет возможность выбрать только один вариант ответа</li>
                                <li><b>"Вопрос со свободной формой ответа"</b> - при ответе на вопрос данного типа учащийся должен будет записать свой ответ в специальное поле. Ответ учащегося будет засчитан, если он совпадёт с тем что указал преподаватель в качестве правильного ответа на данный вопрос.</li>
                            </ul>
                        </li>
                        <li>Блок <b>"Варианты ответа:"</b> (если выбран тип вопроса "Содержит один или несколько правильных вариантов ответа" или "Содержит только один правильный вариант ответа") - содержит обязательные для заполнения поля. Вам необходимо заполнить поля вариантами ответа на вопрос и отметить какой/какие из них являются верными.</li>
                        <li><b>"Введите правильный ответ:"</b> (если выбран тип вопроса "Вопрос со свободной формой ответа") - обязательное для заполнения поле. Сюда Вы должны ввести правильный ответ на вопрос.</li>
                    </ol>
                    <p>После того как Вы заполните все необходимые поля, нажмите кнопку <b>"Далее"</b>, если хотите добавить ещё один вопрос в тест. Если же Вы завершили составление теста и этот вопрос является последним, то нажмите кнопку <b>"Закончить".</b></p>
                    <p>Созданный тест появится в списке тестов на Вашем рабочем столе:</p>
                    <img class="img-thumbnail"
                     src="/static/img/dashboard.png"
                     alt="Рабочий стол" width="auto" height="auto">
                </div>
            </div>
            <a name="offline_test"></a>
            <hr>
            <h5>4. Интерактивная offline версия теста</h5>
            <div class="row">
                <div class="col-lg-12">
                    <p>В случае, когда необходимо провести тестирование в отсутствии интернета, можно воспользоваться <b>интерактивной offline версией теста</b>.</p>
                    <p>Чтобы скачать файл с тестом, перейдите в интерфейс рабочего стола (пункт <b>"Рабочий стол"</b> в главном меню), а затем нажмите кнопку <b>"Скачать тест"</b> напротив нужного теста.</p>
                    <p>Кнопка <b>"Скачать тест"</b> выглядит следующим образом:</p>
                    <button type="button" class="btn btn-info" title="Скачать тест">
                        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                    </button>
                    <p></p>
                    <p>Кнопка <b>"Скачать тест"</b> доступна для каждого теста из списка на рабочем столе:</p>
                    <img class="img-thumbnail"
                     src="/static/img/test_from_dashboard_list.png"
                     alt="Строка из списка тестов на рабочем столе" width="auto" height="auto">
                </div>
            </div>
            <a name="journal"></a>
            <hr>
            <h5>5. Просмотр журнала оценок по тесту</h5>
            <div class="row">
                <div class="col-lg-12">
                    <p>Чтобы просмотреть журнал оценок по тесту, перейдите в интерфейс рабочего стола (пункт <b>"Рабочий стол"</b> в главном меню), а затем нажмите кнопку <b>"Журнал с оценками"</b> напротив нужного теста.</p>
                    <p>Кнопка <b>"Журнал с оценками"</b> выглядит следующим образом:</p>
                    <button type="button" class="btn btn-success" title="Журнал с оценками">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    </button>
                    <p></p>
                    <p>Кнопка <b>"Журнал с оценками"</b> доступна для каждого теста из списка на рабочем столе:</p>
                    <img class="img-thumbnail"
                     src="/static/img/test_from_dashboard_list.png"
                     alt="Строка из списка тестов на рабочем столе" width="auto" height="auto">
                    <p></p>
                    <p>Откроется окно со списком людей, прошедших Ваш тест, и результатами по каждому из них:</p>
                    <img class="img-thumbnail"
                     src="/static/img/journal.png"
                     alt="Журнал с оценками" width="auto" height="auto">
                    <p></p>
                    <p>По каждой записи в журнале можно получить подробный отчёт. Отчёт о тестировании содержит более подробные сведения о человеке, который прошёл тест, а так же детальный анализ ответов на вопросы.</p>
                    <p>Для просмотра отчёта нажмите кнопку <b>"Отчёт"</b> напротив нужной записи в журнале.</p>
                    <p>Кнопка <b>"Отчёт"</b> в журнале выглядит так же как и кнопка <b>"Журнал с оценками"</b> в списке тестов на рабочем столе:</p>
                    <button type="button" class="btn btn-success" title="Журнал с оценками">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    </button>
                    <p></p>
                    <p>Кнопка <b>"Отчёт"</b> доступна для каждой записи в журнале:</p>
                    <img class="img-thumbnail"
                     src="/static/img/field_from_journal.png"
                     alt="Строка из списка тестов на рабочем столе" width="auto" height="auto">
                    <p></p>
                    <p>Откроется окно с отчётом:</p>
                    <img class="img-thumbnail"
                     src="/static/img/report.png"
                     alt="Отчёт о прохождении теста" width="auto" height="auto">
                </div>
            </div>
            <a name="edit_test"></a>
            <hr>
            <h5>6. Редактирование теста</h5>
            <div class="row">
                <div class="col-lg-12">
                    <p>Чтобы отредактировать тест, перейдите в интерфейс рабочего стола (пункт <b>"Рабочий стол"</b> в главном меню), а затем нажмите кнопку <b>"Редактировать тест"</b> напротив нужного теста.</p>
                    <p>Кнопка <b>"Редактировать тест"</b> выглядит следующим образом:</p>
                    <button type="button" class="btn btn-primary" title="Редактировать тест">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                    <p></p>
                    <p>Кнопка <b>"Редактировать тест"</b> доступна для каждого теста из списка на рабочем столе:</p>
                    <img class="img-thumbnail"
                     src="/static/img/test_from_dashboard_list.png"
                     alt="Строка из списка тестов на рабочем столе" width="auto" height="auto">
                </div>
            </div>
            <a name="delete_test"></a>
            <hr>
            <h5>7. Удаление теста</h5>
            <div class="row">
                <div class="col-lg-12">
                    <p>Чтобы удалить тест, перейдите в интерфейс рабочего стола (пункт <b>"Рабочий стол"</b> в главном меню), а затем нажмите кнопку <b>"Удалить тест"</b> напротив нужного теста.</p>
                    <p>Кнопка <b>"Удалить тест"</b> выглядит следующим образом:</p>
                    <button type="button" class="btn btn-danger" title="Удалить тест">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    <p></p>
                    <p>Кнопка <b>"Удалить тест"</b> доступна для каждого теста из списка на рабочем столе:</p>
                    <img class="img-thumbnail"
                     src="/static/img/test_from_dashboard_list.png"
                     alt="Строка из списка тестов на рабочем столе" width="auto" height="auto">
                </div>
            </div>
        </div>
    </div>
{% endblock %}