{% extends "base.html" %}
{% block content %}
<!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle"
                 src="/static/img/ic_extension_24px.svg"
                 alt="Generic placeholder image" width="100" height="100"
                 style="background-color: #CDDC39; box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);">

            <h3>Конструктор тестов</h3>

            <p>Online конструктор позволяет легко и быстро создавать тесты любой тематики!</p>
            <p>Созданные Вами тесты всегда доступны для прохождения online.</p>
            <p>Так же Вы можете скачать интерактивную offline версию созданного теста.</p>


        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle"
                 src="/static/img/ic_done_all_24px.svg"
                 alt="Generic placeholder image" width="100" height="100"
                    style="background-color: #CDDC39; box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);">

            <h3>Система проверки знаний</h3>

            <p>Вам больше не нужно вручную проверять выполненные задания. Exam сделает это за Вас!</p>
            <p>Система позволяет проводить online тестирования большого количества учащихся как в аудитории, так и удалённо.</p>
            <p>Для прохождения теста регистрация не обязательна. Это позволяет значительно упростить работу с большим количеством людей.</p>

        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle"
                 src="/static/img/ic_list_24px.svg"
                 alt="Generic placeholder image" width="100" height="100"
                    style="background-color: #CDDC39; box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);">

            <h3>Журнал успеваемости</h3>

            <p>В вашем распоряжении будет журнал успеваемости с оценками и подробной информацией о выполненных тестах.</p>
            <p>Полная детализация теста с правильными и фактическими ответами доступна только автору теста, что исключает возможность списывания.</p>

        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->


{#    <!-- START THE FEATURETTES -->#}
{##}
{#    <hr class="featurette-divider">#}
{##}
{#    <div class="row featurette">#}
{#        <div class="col-md-7">#}
{#            <h3 class="featurette-heading">First featurette heading. <span#}
{#                    class="text-muted">It'll blow your mind.</span></h3>#}
{##}
{#            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod#}
{#                semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus#}
{#                commodo.</p>#}
{#        </div>#}
{#        <div class="col-md-5">#}
{#            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"#}
{#                 alt="Generic placeholder image">#}
{#        </div>#}
{#    </div>#}
{##}
{#    <hr class="featurette-divider">#}
{##}
{#    <div class="row featurette">#}
{#        <div class="col-md-7 col-md-push-5">#}
{#            <h3 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span>#}
{#            </h3>#}
{##}
{#            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod#}
{#                semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus#}
{#                commodo.</p>#}
{#        </div>#}
{#        <div class="col-md-5 col-md-pull-7">#}
{#            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"#}
{#                 alt="Generic placeholder image">#}
{#        </div>#}
{#    </div>#}
{##}
{#    <hr class="featurette-divider">#}
{##}
{#    <div class="row featurette">#}
{#        <div class="col-md-7">#}
{#            <h3 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h3>#}
{##}
{#            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod#}
{#                semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus#}
{#                commodo.</p>#}
{#        </div>#}
{#        <div class="col-md-5">#}
{#            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"#}
{#                 alt="Generic placeholder image">#}
{#        </div>#}
{#    </div>#}
{##}
{#    <hr class="featurette-divider">#}
{% endblock %}