{% extends "base.html" %}
{% block content %}
<!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
{#            <a href="{% url "create_new_test" %}">#}
            <img class="img-circle"
                 src="/static/img/ic_extension_24px.svg"
                 alt="Generic placeholder image" width="100" height="100"
                 style="background-color: #CDDC39; box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);">
{#            </a>#}

            <h3>Конструктор тестов</h3>

            <p>Online конструктор позволяет легко и быстро создавать тесты любой тематики!</p>
            <p>Созданные Вами тесты всегда доступны для прохождения online.</p>
            <p>Так же Вы можете скачать интерактивную offline версию созданного теста.</p>


        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle"
                 src="/static/img/ic_done_all_24px.svg"
                 alt="Generic placeholder image" width="100" height="100"
                    style="background-color: #CDDC39; box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);">

            <h3>Система проверки знаний</h3>

            <p>Вам больше не нужно вручную проверять выполненные задания. Exam сделает это за Вас!</p>
            <p>Система позволяет проводить online тестирования большого количества учащихся как в аудитории, так и удалённо.</p>
            <p>Для прохождения теста регистрация не обязательна. Это позволяет значительно упростить работу с большим количеством людей.</p>

        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle"
                 src="/static/img/ic_list_24px.svg"
                 alt="Generic placeholder image" width="100" height="100"
                    style="background-color: #CDDC39; box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);">

            <h3>Журнал успеваемости</h3>

            <p>В вашем распоряжении будет журнал успеваемости с оценками и подробной информацией о выполненных тестах.</p>
            <p>Полная детализация теста с правильными и фактическими ответами доступна только автору теста, что исключает возможность списывания.</p>

        </div>
        <!-- /.col-lg-4 -->
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 centered">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- www.exam.moscow -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-3381757163095866"
                 data-ad-slot="9432921928"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
    <!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h3 class="featurette-heading">Онлайн-тестирование</h3>

            <p class="lead">Любое обучение без проверки полученных знаний неэффективно.
                Преподаватель должен оценить результат своего долгого труда.
                Очень результативный способ — тестирование.</p>
            <p class="lead">В традиционном понимании он заключается в выборе правильного ответа из нескольких вариантов.
                Раздаются листки с напечатанными заданиями, потом преподаватель их проверяет и выставляет оценку.
                Требуется собрать участников в одном месте и потом проверить результаты, потратив много часов.</p>
            <p class="lead">Намного удобнее и быстрее сделать это через интернет.
                Провести тестирование онлайн. Наш сервис поможет реализовать все этапы.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                 alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h3 class="featurette-heading">О сервисе
            </h3>

            <p class="lead">Для создания теста используется онлайн-конструктор.
                Эргономичный интерфейс, настройки и набор инструментов — все для удобства пользователей.
                В нем можно сделать проверку любой сложности и тематики.</p>
            <p class="lead">Далее ссылка на тест отправляется всем учащимся.
                Нужно или нет им регистрироваться в на сайте Exam, определяется в параметрах теста при его создании.
                Они открывают тест и выполняют его.
                По мере прохождения в журнале преподавателя появляются итоговые оценки.
                Создается подробный отчет о результатах проверки теста.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                 alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h3 class="featurette-heading">Достоинства нашего онлайн-сервиса:</h3>
            <ul>
                <li class="lead">Сервис абсолютно бесплатный</li>
                <li class="lead">Отсутствие трудозатрат на проверку решений.</li>
                <li class="lead">Позволяет проводить тестирование удалённо</li>
                <li class="lead">Понятное представление результатов, удобное для анализа.</li>
                <li class="lead">Одновременное тестирование любого числа проверяемых.</li>
                <li class="lead">Удобный и функциональный конструктор.</li>
                <li class="lead">Созданные тесты всегда доступны для работы.</li>
                <li class="lead">Развернутые правильные ответы только у преподавателя.</li>
                <li class="lead">Дружелюбный интерфейс.</li>
                <li class="lead">Несложная регистрация.</li>
                <li class="lead">Оптимальная реализация тестирования.</li>
            </ul>
            <p class="lead">И еще одно важное преимущество: наш проект Exam позволяет проводить тестирование даже при отсутствии интернета.
                Преподаватель работает как обычно, создает тест и скачивает его офлайн-версию.
                После установки на компьютере для учащихся все дальнейшие процедуры будут автоматизированы.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                 alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h3 class="featurette-heading">Работа с системой</h3>

            <p class="lead">Результативность онлайн-тестирования во многом определяется параметрами инструмента для реализации.
                Представляем  Exam — сервис, созданный для проверки знаний: удобный для преподавателей и учащихся, простой и эффективный. </p>
            <p class="lead">Подробные справочные материалы по работе в системе находятся на странице: <a href="{% url "help" %}">http://www.exam.moscow/help/</a>.
                Для начала требуется простая регистрация. После ее завершения, можно переходить к созданию онлайн-теста.
            </p>
            <p class="lead">В форме конструктора пользователь задает характеристики теста, вопросы и ответы.
                Предусмотрено добавление изображений.
                На «Рабочем столе» доступны созданные тесты, журналы с их результатами, отчеты.
                Все тесты можно редактировать и удалять.
            </p>
            <p class="lead">После отправления ссылки учащимся, они начинают по ней выполнение заданий теста.
                Если тест создавался доступным всем без регистрации, то для работы достаточно ввести ФИО и e-mail(по желанию, для получения результатов на почту).
                В журнале преподавателя появятся новые записи с оценками.
            </p>
            <p class="lead">Наш сервис разработан не только для преподавателей, с его помощью можно провести квалификационные проверки персонала, психологическое тестирование, использовать при подборе кадров.
                Он не требует установки специальных программ и приложений, только доступ в интернет. Дистанционная проверка знаний — это современно и эффективно.
            </p>
             <p class="lead">Дистанционная проверка знаний — это современно и эффективно.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                 alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">
{% endblock %}