{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block header_content %}
    <div class="k-panel-header vertical-align">
        <div class="container">
            <div class="row vertical-align">
                <div class="col-lg-4">
                    <h4>Журнал</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <p></p>
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>{{ test.name }}</b>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Пользователь</th>
                <th>Начало тестирования</th>
                <th>Завершение тестирования</th>
                <th>Количество вопросов</th>
                <th>Количество правильных ответов</th>
                <th>Оценка</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for journal in journal_list %}
                {% if journal.result >= 70 %}
                <tr class="success">
                {% elif journal.result >= 40 %}
                <tr class="warning">
                {% else %}
                <tr class="danger">
                {% endif %}
                    <td>{{ journal.user.get_full_name }}</td>
                    <td>{{ journal.start_date|date:"d.m.Y H:i:s" }}</td>
                    <td>{{ journal.end_date|date:"d.m.Y H:i:s" }}</td>
                    <td>{{ journal.number_of_questions }}</td>
                    <td>{{ journal.number_of_correct_answers }}</td>
                    <td>{{ journal.result }}%</td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}