{% extends "base.html" %}
{% block title %}
    <title>Exam - тестирование</title>
{% endblock %}
{% block seo %}
    <meta name="description" content="Система проверки знаний сервиса Exam. Тестирование.">
    <meta name="keywords" content="Тестирование, прохождение теста, on-line, вопрос, ответ, учёба">
{% endblock %}
{% block head %}
{% endblock %}
{% block header_content %}
    <div class="vertical-align">
        <div class="container">
            <div class="row vertical-align">
                <div class="col-lg-4">
                    <h4>Вопрос №{{ number_of_question }}</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <form action="{% url "next_question" id=test_id number=number_of_question %}" method="post">
    {% else %}
    <form action="{% url "next_question_unregistered_user" id=test_id progress_id=progress_id number=number_of_question %}" method="post">
    {% endif %}
    {% csrf_token %}
        <div class="row">
            <div class="col-lg-12">
                <div class="progress">
                  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">
                    <span class="sr-only">{{ progress }}% Complete</span>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% if image %}
                <div class="col-lg-6">
            {% else %}
                <div class="col-lg-12">
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <pre><span style="font-size: 14px; font-family: sans-serif;"><b>{{ question }}</b></span></pre>
                </div>
                <div class="panel-body">
                    {% if type == 1 %}
                        <h6><b>Варианты ответа:</b></h6>
                        {% for variant in variant_list %}
                            <input id="isTrueAnswer{{ forloop.counter }}" name="answer" value="{{ forloop.counter }}"
                                   type="checkbox">{{ variant }}<br>
                        {% endfor %}
                    {% endif %}
                    {% if type == 2 %}
                        <p>Варианты ответа:</p>
                        {% for variant in variant_list %}
                            <input id="isTrueAnswer{{ forloop.counter }}" name="answer" value="{{ forloop.counter }}"
                                   type="radio">{{ variant }}<br>
                        {% endfor %}
                    {% endif %}
                    {% if type == 3 %}
                        <div class="form-group">
                            <label class="control-label" for="inputOpenAnswer">Введите правильный ответ:</label>
                            <input id="inputOpenAnswer" name="answer" type="text" class="form-control">
                        </div>
                    {% endif %}
                </div>
            </div>
            </div>
            {% if image %}
                <div class="col-lg-6">
                    <label for="divImage">Изображение:</label>

                    <div id="divImage" class="form-group">
                        <img id="impPreview" class="img-thumbnail"
                             src="{{ image }}"
                             alt="Изображение" width="auto" height="auto">
                    </div>
                </div>
            {% endif %}
            </div>
        <div class="row">
            <div class="col-lg-12 centered">
                <button id="btnNext" name="next" type="submit" class="btn btn-success">Ответить</button>
            </div>
        </div>
    </form>
{% endblock %}