/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 60px;
  padding-bottom: 20px;
}

.k-panel {
    height: 170px;
    background-color: #CDDC39;
}

.k-panel-header {
    background-color: #CDDC39;
    display: inline-block
}

.vertical-align {
    display: flex;
    align-items: center;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.centered {
   text-align: center;
   font-size: 0;
}
.centered > div {
   float: none;
   display: inline-block;
   text-align: left;
   font-size: 13px;
}

.white_color {
   color: #ffffff;
}

.jumbotron {
    background-color: #673AB7;
    color: #ffffff;
}
.jumbotron h3 {
    color: #ffffff;
  }