/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.k-panel {
    height: 200px;
    background-color: #CDDC39;
}

.k-margin-top-35 {
    margin-top: 35px;
}

.k-margin-top-60 {
    margin-top: 60px;
}