{% extends "base.html" %}
{% block title %}
    <title>Exam - список тестов</title>
{% endblock %}
{% block seo %}
    <meta name="description" content="Общий список тестов сервиса проверки знаний Exam">
    <meta name="keywords" content="Список тестов, тестирование, учёба, проверка знаний, преподавателю">
{% endblock %}
{% block head %}
    <script src="/static/js/exam.js"></script>
{% endblock %}
{% block header_content %}
    <div class="k-panel-header vertical-align">
        <div class="container">
            <div class="row vertical-align">
                <div class="col-lg-4">
                    <h4>Тесты</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <p></p>
    <div class="row">
        <div class="col-lg-4">
            <form action="{% url "get_test_list" page=1 %}" method="get">
                <div class="input-group">
                    {% if search_query %}
                        <input id="inputSearch" type="text" name="search" class="form-control" placeholder="Поиск..."
                               value="{{ search_query }}">
                    {% else %}
                        <input id="inputSearch" type="text" name="search" class="form-control" placeholder="Поиск...">
                    {% endif %}
                    <span class="input-group-btn">
                        <button id="btnSearch" class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-lg-12">
            {% if test_list %}
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Название теста</th>
                        <th>Категория</th>
                        <th>Дата создания</th>
                        <th>Автор</th>
                        <th>Рейтинг</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for test in test_list %}
                        <tr>
                            <th>{{ start_test_number|add:forloop.counter }}</th>
                            <td>{{ test.name }}</td>
                            <td>{{ test.category }}</td>
                            <td>{{ test.date_and_time|date:"d.m.Y" }}</td>
                            <td>{{ test.author.get_short_name }}</td>
                            <td>{{ test.rating }}</td>
                            <td>
                                <form action="{% url "start_test" id=test.id %}" method="post">
                                    {% csrf_token %}
                                    <button id="btnRun{{ forloop.counter }}" type="submit" class="btn btn-success"
                                            name="run" value="{{ test.id }}">
                                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if search_query %}
                    {% if number_of_pages|length > 1 %}
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="{% url "get_test_list_search" page=current_page|add:"-1" search=search_query %}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% for i in number_of_pages %}
                                    {% if current_page == i %}
                                        <li class="active"><a
                                                href="{% url "get_test_list_search" page=i search=search_query %}">{{ i }}</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{% url "get_test_list_search" page=i search=search_query %}">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                <li>
                                    <a href="{% url "get_test_list_search" page=current_page|add:"1" search=search_query %}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    {% endif %}
                {% else %}
                    {% if number_of_pages|length > 1 %}
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="{% url "get_test_list" page=current_page|add:"-1" %}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% for i in number_of_pages %}
                                    {% if current_page == i %}
                                        <li class="active"><a
                                                href="{% url "get_test_list" page=i %}">{{ i }}</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{% url "get_test_list" page=i %}">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                <li>
                                    <a href="{% url "get_test_list" page=current_page|add:"1" %}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    {% endif %}
                {% endif %}
            {% else %}
                <blockquote>
                    <h4 class="center-block">Не найдено ни одного теста</h4>
                </blockquote>
            {% endif %}
        </div>
    </div>
{% endblock %}