<!DOCTYPE html>
<html>
<head lang="ru">
    {% block title %}
        <title>Exam - универсальный сервис проверки знаний</title>
    {% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="ru" />
    <meta name="author" content="Алексей Кутепов" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='yandex-verification' content='62b41f391caca131' />
    <meta name='wmail-verification' content='eb696e869b4ff9e74f134f530e66987d' />
    <meta name="google-site-verification" content="oHSAQHTla8oVabep6b_U-XByVnW0kaweOABp-b6v-1E" />
    {% block seo %}
        <meta name="description" content="Универсальный сервис проверки знаний (On-line конструктор тестов, система проверки знаний, журнал успеваемости). Позволяет создавать тесты и проводить тестирование в режиме on-line.">
        <meta name="keywords" content="Конструктор тестов, проверка знаний, тестирование, журнал успеваемости, преподавателю, учёба">
    {% endblock %}

    {% load staticfiles %}
    <link rel="short icon" href="/static/img/favicon.png">

    <link rel="stylesheet" href="/static/css/material.bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-social.css"/>
	<link rel="stylesheet" href="/static/css/beta/main.css">
	<link rel="stylesheet" href="/static/css/beta/normalize.css">

    <script src="/static/js/jquery-1.11.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/menu.js"></script>
	<script src="/static/js/beta/jquery.ripple.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>


    {% block head %}

    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<header id="header">
		<section id="toolbar">
			<div class="container">
				<button class="sidebar-btn ripple-slow" data-color="rgba(255,255,255,0.3)">
                    <i class="fa fa-bars"></i>
				</button>

				<a href="#" class="logo" title="Exam Привет!">Exam<span>Moscow</span></a>

				<button class="profile-btn ripple-slow" data-color="rgba(255,255,255,0.3)">
					<i class="fa fa-ellipsis-v"></i>
				</button>
			</div>
		</section>
		<div class="container">
			<div class="header-text">
				<p>Добро пожаловать на Exam!</p>
				<small><b>Exam</b> - универсальный сервис проверки знаний и Ваш надёжный помощник!</small>
			</div>
		</div>
	</header>

	<main id="main" role="main">
		<figure class="art-block">
			<div class="art-img art1">
				<span class="icon-extension"></span>
			</div>
			<h1>Конструктор тестов</h1>
			<p>
				Online конструктор позволяет легко и быстро создавать тесты любой тематики!
				Созданные Вами тесты всегда доступны для прохождения online.
				Так же Вы можете скачать интерактивную offline версию созданного теста.
			</p>
		</figure>
		<figure class="art-block">
			<div class="art-img art2">
				<span class="icon-done"></span>
			</div>
			<h1>Система проверки знаний</h1>
			<p>
				Вам больше не нужно вручную проверять выполненные задания. Exam сделает это за Вас!
				Система позволяет проводить online тестирования большого количества учащихся как в аудитории, так и удалённо.
				Для прохождения теста регистрация не обязательна. Это позволяет значительно упростить работу с большим количеством людей.
			</p>
		</figure>
		<figure class="art-block">
			<div class="art-img art3">
				<span class="icon-list"></span>
			</div>
			<h1>Журнал успеваемости</h1>
			<p>
				В вашем распоряжении будет журнал успеваемости с оценками и подробной информацией о выполненных тестах.
				Полная детализация теста с правильными и фактическими ответами доступна только автору теста, что исключает возможность списывания.
			</p>
		</figure>
	</main>
</body>
</html>